:root {
    --text_black: #323437;
    --text_blue: #80a0ff;
    --text_cyan: #79dac8;
    --text_green: #8cc85f;
    --text_magenta: #cf87e8;
    --text_red: #ff5454;
    --text_white: #c6c6c6;
    --text_yellow: #e3c78a;
    --text_black_bright: #949494;
    --text_blue_bright: #74b2ff;
    --text_cyan_bright: #85dc85;
    --text_green_bright: #36c692;
    --text_magenta_bright: #ae81ff;
    --text_red_bright: #ff5189;
    --text_white_bright: #e4e4e4;
    --text_yellow_bright: #c6c684;
    --background: #080808;
}

@font-face {
    font-family: "Iosevka NerdFont";
    src: url(fonts/IosevkaNerdFont/IosevkaNerdFont-Regular.ttf);
    font-weight: normal;
}

h1 {
    color: var(--text_white_bright);
    font-size: 4em;
    font-family: "Iosevka NerdFont";
}

p {
    color: var(--text_white);
    font-size: 2em;
    font-family: "Iosevka NerdFont";
}

body {
    background-color: var(--background);
}
